
<div class="container-fluid" id="users-list">
    <div class="row" id="users-page-title-container">CHAT</div>
    <div class="row" id="users-page-user-container">
        <div class="col-lg-6 col-lg-offset-3 col-sm-12 col-md-12">
            <div class="input-group">
                <input type="text"
                       placeholder="请在下方添加内容"
                       v-model="userPageSearchText"
                       class="form-control">
                <span @click="searchUsers()" class="btn btn-sm btn-info input-group-addon">搜索</span>
            </div>
            <br>

            <div style="border-bottom: 1px silver solid" @click="startChat(user)" class="row user-display" v-for="user in displayUsers">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
                    <img :src="user.userIcon" class="user-icon">
                </div>
                <div  class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
                    <div class="row user-name">{{user.username}}</div>
                    <div class="row user-message">{{getLatestMessage(user.username)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/users-page.js"></script>