body {
    background: url(../img/blue-gradients.020-wh.jpg);
    background-repeat: no-repeat;
    height: 2000px;
    background-size: 100% 100%;

}

.table,.table-bordered>tr,.table,.table-bordered>td{
    background-color: transparent;
}
img {
    height: 150px;
    flex: 1;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

img:hover{
    filter: brightness(1.5);
}