<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻管理和发送页面</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/CSSReset.css">
</head>
<body>

<div class="container">
    <div class="row" id="news">
        <div class="row" style="border: 1px solid black;height: 500px;overflow-y:scroll;">
            <table class="table table-bordered table-hover table-striped">
                <caption class="caption">最新金融新闻</caption>
                <tr>
                    <th>国家或地区</th>
                    <th>新闻内容</th>
                    <th>重要性</th>
                    <th>时间</th>
                </tr>
                <tr>
                    <td><span style="font-weight: bolder">中国</span></td>
                </tr>
                <tr>
                    <td style="color: #ff7306">中国</td>
                </tr>
                <tr>
                    <td style="color: red">中国</td>
                </tr>
                <tr>
                    <td style="color: #39ffc9">中国</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-success">重发</button>
                        <button class="btn btn-sm btn-danger">删除</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" style="margin-top: 10px">
            <p v-if="newsPagePreview">地区：{{newsPageSendCountry}} 内容：{{newsPageSendContent}}
                影响：{{newsPageSendImportant}}</p>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-12">
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">地区：</span>
                        <input type="text" list="country-datas" v-model="newsPageSendCountry" class="form-control"
                               placeholder="请输入国家或地区">
                        <datalist id="country-datas">
                            <option v-for="country in countryDatas">{{country}}</option>
                        </datalist>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">内容：</span>
                        <textarea v-model="newsPageSendContent" style="resize:none;height: 150px" class="form-control"
                                  placeholder="请输入新闻内容"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">影响：</span>
                        <select v-model="newsPageSendImportant" class="form-control" placeholder="请输入新闻内容">
                            <option v-for="item in 5" :value="item">{{item}}颗星</option>
                        </select>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-lg-6" style="text-align: center">
                            <button @click="newsPagePreview=!newsPagePreview" style="width: 180px" class="btn btn-info">
                                预览
                            </button>
                        </div>
                        <div class="col-lg-6" style="text-align: center">
                            <button @click="sendNews()" style="width: 180px" class="btn btn-success">发送</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var news = new Vue({
        el: '#news',
        data: {
            news: [],
            newsPagePreview: false,
            newsPageSendCountry: '',
            newsPageSendContent: '',
            newsPageSendImportant: '',
            countryDatas: ['阿布哈兹', '阿富汗', '阿尔巴尼亚', '阿尔及利亚', '美属萨摩亚（美国）', '安道尔', '安哥拉', '安圭拉', '安提瓜和巴布达', '阿根廷',
                '亚美尼亚', '阿鲁巴（荷兰）', '澳大利亚', '奥地利', '阿塞拜疆', '巴哈马', '巴林', '孟加拉国', '巴巴多斯', '白俄罗斯', '比利时', '伯利兹',
                '贝宁', '百慕大（英国）', '不丹', '玻利维亚', '波黑', '博茨瓦纳', '巴西', '英属印度洋领地（英国）', '文莱', '保加利亚', '布基纳法索', '布隆迪',
                '柬埔寨', '喀麦隆', '加拿大', '佛得角', '开曼群岛（英国）', '中非共和国', '乍得', '智利', '中国', '圣诞岛（澳大利亚）',
                '科科斯(基林)群岛（澳大利亚）', '哥伦比亚', '科摩罗', '刚果共和国', '刚果民主共和国', '库克群岛（新西兰）', '哥斯达黎加', '科特迪瓦', '克罗地亚',
                '古巴', '库拉索(荷兰)', '塞浦路斯', '捷克', '丹麦', '吉布提', '多米尼克', '多米尼加', '厄瓜多尔', '埃及', '萨尔瓦多', '赤道几内亚',
                '厄立特里亚', '爱沙尼亚', '埃塞俄比亚', '福克兰群岛（英国、阿根廷争议）', '法罗群岛（丹麦）', '斐济', '芬兰', '法国', '法属波利尼西亚（法国）', '加蓬',
                '冈比亚', '格鲁吉亚', '德国', '加纳', '直布罗陀（英国）', '希腊', '格陵兰（丹麦）', '格林纳达', '关岛（美国）', '危地马拉', '根西岛（英国）',
                '几内亚', '几内亚比绍', '圭亚那', '海地', '洪都拉斯', '中国香港', '匈牙利', '冰岛', '印度', '印尼', '伊朗', '伊拉克', '爱尔兰', '以色列',
                '意大利', '牙买加', '日本', '泽西岛（英国）', '约旦', '肯尼亚', '基里巴斯', '韩国', '科索沃', '科威特', '吉尔吉斯斯坦', '老挝', '拉脱维亚',
                '黎巴嫩', '莱索托', '利比里亚', '利比亚', '列支敦士登', '立陶宛', '卢森堡', '中国澳门', '马其顿', '马达加斯加', '马拉维', '马来西亚',
                '马尔代夫', '马里', '马耳他', '马恩岛（英国）', '马绍尔群岛', '毛里塔尼亚', '毛里求斯', '马约特（法国）', '墨西哥', '密克罗尼西亚联邦', '摩尔多瓦',
                '摩纳哥', '蒙古国', '黑山', '蒙特塞拉特岛（英国）', '摩洛哥', '莫桑比克', '缅甸', '纳戈尔诺-卡拉巴赫', '纳米比亚', '瑙鲁', '尼泊尔', '荷兰',
                '新喀里多尼亚（法国）', '新西兰', '尼加拉瓜', '尼日尔', '尼日利亚', '纽埃（新西兰）', '诺福克岛（澳大利亚）', '北塞浦路斯', '北马里亚纳群岛（美国）',
                '挪威', '阿曼', '巴基斯坦', '帕劳', '巴勒斯坦', '巴拿马', '巴布亚新几内亚', '巴拉圭', '朝鲜', '秘鲁', '菲律宾', '皮特凯恩群岛（英国）',
                '波兰', '葡萄牙', '德涅斯特河左岸', '波多黎各（美国）', '卡塔尔', '留尼汪（法国）', '罗马尼亚', '俄罗斯', '卢旺达', '圣赫勒拿岛（英国）',
                '圣基茨和尼维斯', '圣卢西亚', '圣皮埃尔和密克隆群岛（法国）', '圣文森特和格林纳丁斯', '萨摩亚', '圣马利诺', '圣多美和普林西比', '沙特阿拉伯', '塞内加尔',
                '塞尔维亚', '塞舌尔', '塞拉利昂', '新加坡', '荷属圣马丁（荷兰）', '斯洛伐克', '斯洛文尼亚', '所罗门群岛', '索马里', '索马里兰', '南非',
                '南奥塞梯', '南苏丹', '西班牙', '斯里兰卡', '苏丹', '苏里南', '斯瓦尔巴群岛（挪威）', '斯威士兰', '瑞典', '瑞士', '叙利亚', '中国台湾',
                '塔吉克斯坦', '坦桑尼亚', '泰国', '东帝汶', '多哥', '托克劳（新西兰）', '汤加', '特立尼达和多巴哥', '突尼斯', '土耳其', '土库曼斯坦',
                '特克斯和凯科斯群岛（英国）', '图瓦卢', '乌干达', '乌克兰', '阿联酋', '英国', '美国', '乌拉圭', '乌兹别克斯坦', '瓦努阿图', '梵蒂冈', '委内瑞拉',
                '越南', '英属维尔京群岛（英国）', '美属维尔京群岛（美国）', '瓦利斯和富图纳群岛（法国）', '西撒哈拉', '也门', '赞比亚', '津巴布韦'
            ]
        },
        methods: {
            sendNews: function () {
                if (this.newsPageSendCountry.trim() == '' || this.newsPageSendContent.trim() == '' || this.newsPageSendImportant.trim() ==
                    '') {
                    alert('数据不正确');
                    return;
                }

                var params = {
                    country: this.newsPageSendCountry,
                    content: this.newsPageSendContent,
                    important: this.newsPageSendImportant,
                    time: new Date().getTime()
                }


                console.log("发送新闻")

                var url = "/NANC/pushNews";

                $.ajax({
                    url: url,
                    data: params,
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        console.log(result.status === '200')
                        if (result.status === '200') {
                            this.getAllNews();
                        }
                    }
                })
            },
            getAllNews: function () {
                console.log('获取新闻啊')
            }
        },
        mounted: function () {
            this.getAllNews()
        }
    })
</script>