<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>显示过滤后的结果</title>
        <script src="../js/vue.js"></script>
	</head>
	<body>
        <div id="app-25">
            <ul>
                <li v-for="n in evenNumbers">{{ n }}</li>
            </ul>
            <ol>
                <li v-for="n in even(number)">{{ n }}</li>
            </ol>
            <div>
                <span v-for="n in 10">{{ n }} </span>
            </div>
        </div>
	</body>
</html>
<script type="text/javascript">
    var app25=new Vue({
        el:'#app-25',
        data:{
            number:[1,2,3,4,5]
        },
        computed:{
            evenNumbers:function(){
                return this.number.filter(function(item){
                    return item%2===0;
                })
            }
        },
        methods:{
            even:function(numbers){
                return numbers.filter(function(number){
                    return number%2===0;
                })
            }
        }
    })
</script>