<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单输入绑定-复选框</title>
        <script src="../js/vue.js"></script>
	</head>
	<body>
        <div id="app-40">
            <!-- 单个复选框 -->
            <input type="checkbox" id="checkbox" v-model="selected" />
            <label for="checkbox">{{ selected }}</label>
            <hr>
            <!-- 多个复选框 -->
            <input type="checkbox" name="check1" id="pingguo"  value="apple" v-model="checked" />
            <label for="pingguo">苹果</label>
            <input type="checkbox" name="check1" id="mihoutao" value="peach" v-model="checked" />
            <label for="mihoutao">猕猴桃</label>
            <input type="checkbox" name="check1" id="xiangjiao" value="banana" v-model="checked" />
            <label for="xiangjiao">香蕉</label>
            <p>喜欢吃的水果： {{ checked }}</p>
        </div>
	</body>
</html>

<script type="text/javascript">
    var app40=new Vue({
        el:'#app-40',
        data:{
            selected:'',
            checked:[]
        }
    })
</script>