<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>组件上使用v-model</title>
        <script src="../js/vue.js"></script>
	</head>
	<body>
        <div id="app-55">
            <p>Search Text: {{ searchText }}</p>
            <!-- <input type="text" v-model="searchText"/> -->
            <!-- 以上input等价于以下 -->
            <input type="text" :value="searchText" @input="searchText=$event.target.value" />
            
            <!-- 自定义input -->
            <custom-input v-model="searchText"></custom-input>
        </div>
	</body>
</html>

<script type="text/javascript">
    
    Vue.component('custom-input',{
        props:['value'],
        template:`<input type="text" :value="value" @input="$emit('input',$event.target.value)" />`
    })
    
    var app55=new Vue({
        el:'#app-55',
        data:{
            searchText:''
        }
    })
</script>
