<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>传递静态或动态Prop-数组</title>
        <script src="../js/vue.js"></script>
	</head>
	<body>
        <div id="app-62">
            <!-- 静态传递值 -->
            <blog-post 
                title="静态传递值" 
                :likes="45" 
                :comment-ids="[234,266,273]"
                :is-published="true"></blog-post>
            <!-- 动态传递值 -->
            <blog-post 
                v-for="blog in blogs" 
                :key="blog.title" 
                :is-published="blog.isPublished" 
                :likes="blog.likes" 
                :title="blog.title+' by '+blog.author.name"
                :comment-ids="blog.commentIds"
                ></blog-post>
        </div>
	</body>
</html>

<script type="text/javascript">
    
    Vue.component('blog-post',{
        props:{
            title:String,
            likes:Number,
            isPublished:Boolean,
            commentIds:Array
        },
        template:'<div>\
                    <h2>{{ title }}</h2>\
                    <p>likes:{{ likes }}</p>\
                    <p>isPublished: {{ isPublished }}</p>\
                    <p><span v-for="commentId in commentIds">{{ commentId }} </span></p>\
                  </div>'
    })
    
    var app62=new Vue({
        el:'#app-62',
        data:{
            blogs:[
                {
                    title:'Hello',
                    author:{
                        name:'caoguobin'
                    },
                    likes:43,
                    isPublished:true,
                    commentIds:[123,1223,12432]
                },
                {
                    title:'hahah',
                    author:{
                        name:'zhangsanfeng'
                    },
                    likes:93,
                    isPublished:false,
                    commentIds:[23,433,532]
                }
            ]
        }
    })
</script>